<%- include('ownerNav.ejs') %>

View a report
<form method="post" action="/report">
    <select name="type">
        <option value="Book">Book</option>
        <option value="Author">Author</option>
        <option value="Genre">Genre</option>
    </select>
    </br>

    <label for="start">Start date:</label>

    <input type="date" id="start" name="date_start"
        value="2021-12-01"
        min="2018-01-01" max="2022-12-31">
    </br>

    <label for="end">End date:</label>

    <input type="date" id="end" name="date_end"
        value="2021-12-31"
        min="2018-01-01" max="2022-12-31">
    </br>

    <button type="submit">Submit</button>
</form>

<% if (report?.length > 0) { %>
<table>
<%= console.log(report) %>
<tr>
    <th><%= report[0].reportType %></th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Revenue</th>
    <th>Profit</th>
<% for (let i=0; i<report.length; i++) { %>
    <tr>
        <td><%= report[i].title || report[i].name || report[i].genre %></td>
        <td><%= report[i].qty %></td>
        <td>$<%= report[i].total_cost / 100 %></td>
        <td>$<%= report[i].total_price / 100 %></td>
        <td>$<%= (report[i].total_price - report[i].total_cost) / 100 %></td>
    </tr>
<% } %>
</table>
<% } %>

<script>
    window.onload = () => {
        window.history.pushState("", "", '/');
    };
</script>